header > h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    color: var(--base);
}

header > nav > ul {
    color: var(--off-base);
    list-style-type: none;
}

header>nav li.nav-item {
    display: inline-block;
    font-size: var(--font-h3);
    padding: 6px 12px;
    cursor: pointer;
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius*/
    border-radius: 50% 20% / 10% 40%;
}

li.nav-item:hover {
    background-color: var(--primary-800);
}

.main-search {
    align-self: center;
    box-shadow: 2px 4px 4px 2px var(--shadow);
}

.main-search input {
    height: 32px;
    width: 144px;
    padding: 0 12px;
}

.main-search button {
    height: 32px;
    width: 32px;
    background: var(--primary);
    color: var(--base);
    cursor: pointer;
}

.main-search button:hover {
    background-color: var(--primary-800);
}

@media screen and (max-width: 480px) {
    /* Mobile CSS */

}
